* {
  box-sizing: border-box;
}

html {
  font-size: 0.625;
}

body {
  font-size: 1.6 rem;
  font-family: 'Poppins', sans-serif;
}
/* Common */
a {
  text-decoration: none;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
}
/* Header */
.header .body {
  display: flex;
}
.nav ul {
  display: flex;
}
.nav {
  margin-left: auto;
}
.nav a {
  padding: 8px 21px;
  color: #5f5b53;
}
.nav a:hover,
.nav li.active a {
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
  color: #171100;
}
